flask_ngrok/.authtoken.txt

aws_learning/rootkey.csv
aws_learning/db_entry.csv
aws_learning/images_cloud/

getting_data/usp_numerical_analysis_thesis/
getting_data/msedgedriver.exe
getting_data/Driver_Notes/